node_modules
.git
.gitignore
.next/cache
.env*
README.md
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
coverage
.turbo
dist
build
*.tsbuildinfo
.eslintcache
prisma/*.db
prisma/*.db-journal

